<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AngularJS Material App</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-material@1.2.2/angular-material.min.css" />
  <link rel="stylesheet" href="styles.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/angular-aria@1.8.2/angular-aria.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/angular-animate@1.8.2/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.2/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>


</head>

<body ng-app="myApp" layout="column" ng-controller="MainController">
  <!-- Navbar -->
  <div>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <img class="logo" src="images/logo.png" alt="logo" />
        <div class="admin_setting">
          <p>ADMIN SETTINGS</p>
          <p>HOTEL SUNGRACE</p>
        </div>
        <div layout="row" class="admin_logo">
          <div class="admin_logo_content">
            <p class="adminLogo">Admin</p>
            <p>1800 3000 7787 / support@djubo.com</p>
          </div>

          <img class="logo admin" src="images/admin.png" alt="admin" />
        </div>
      </div>
    </md-toolbar>
  </div>


  <div class="container" layout="row" flex>

    <!-- SideNav Icons -->

    <md-sidenav class=" menubar" md-component-id="left" md-is-locked-open="true">
      <img src="images/settings.png" />
      <img src="images/cloud.png" />
      <img src="images/star.png" />
      <img src="images/mobile.png" />
    </md-sidenav>

    <!-- SideNav Room Catogories -->

    <md-sidenav class="md-whiteframe-4dp room_cat" md-component-id="left" md-is-locked-open="true">
      <md-toolbar class="sec_Sidenav">Room Categories</md-toolbar>
      <input type="text" ng-model="searchText" class="search" placeholder="Type a category name to search... " />


      <md-list class="room_list" ng-repeat="item in arr | filter:searchText">
        <md-list-item class="mdListItem">
          <md-button ng-class="{'mdButton': true, 'active-borders': activeSpanRooms === $index + 1}"
            ng-click="setActiveSpanRooms($index + 1)">
            <p class="itemDetailsUpper">{{item.room}}</p>
            <p class="itemDetailsLower">{{item.details}}</p>
          </md-button>
        </md-list-item>

    </md-sidenav>

    <!-- CARDS -->

    <md-content class="card" flex>
      <md-toolbar class="roomNavDetails scrollableToolbar" layout="row">

        <a href="#!/home" ng-class="{'default-border': true, 'active-border': activeSpan === 1}"
          ng-click="setActiveSpan(1)">BASIC
          DETAILS</a>
        <a ng-class="{'default-border': true, 'active-border': activeSpan === 2}" ng-click="setActiveSpan(2)">ROOM
          DETAILS</a>
        <a href="#!/room" ng-class="{'default-border': true, 'active-border': activeSpan === 3}"
          ng-click="setActiveSpan(3)">AMENITIES</a>
        <a href="#!/bedTypes" ng-class="{'default-border': true, 'active-border': activeSpan === 4}"
          ng-click="setActiveSpan(4)">BED
          TYPES</a>
        <a ng-class="{'default-border': true, 'active-border': activeSpan === 5}" ng-click="setActiveSpan(5)">GENERAL
          TERMS</a>

      </md-toolbar>
      <div class="ngView">
        <div ng-view></div>
      </div>


    </md-content>
  </div>
  <script src="script.js"></script>
  <script src="app.js"></script>
</body>

</html>