* {
    margin: 0;
    padding: 0;

}

.md-toolbar-tools {
    margin-left: 0;
    padding: 0;
    background-color: white;
    border: 0.1rem solid rgb(218, 214, 214);

}

.logo {
    height: 4rem;
}

.admin {
    margin-right: 0;
}


.menubar {
    width: 3.8rem;
    background-color: rgb(30, 40, 45);
}

.room_cat {
    width: 30rem;
    overflow: hidden;
}

.admin {
    margin-left: auto;
    /* Push the image to the rightmost position */
}

.admin_setting {
    color: grey;
    font-size: 0.9rem;
    margin: 2rem;
}

.admin_logo {
    color: grey;
    font-size: 0.9rem;
    margin: 1.8rem;
    margin-left: auto;
    text-align: right;
    padding-bottom: 0.2rem;
}

.admin {
    padding-left: 0.5rem;
}

md-list {
    padding: 0;
}

md-list-item {
    margin: 0;
    padding: 0;

    height: 6rem;
}

.room_catog {
    border: 1rem solid grey;

}

.search {
    height: 4rem;
    background-color: rgb(238, 241, 242);
    border: 0.07rem solid rgb(218, 214, 214);
}

button {
    height: 7rem;
    width: 7rem;
}

md-list-item>button {
    width: 100%;
    text-align: left !important;
}

.room_list {
    border: 0.07rem solid rgb(218, 214, 214);
    overflow: hidden;

}

.default-border {
    margin: 2.35rem 2rem 0rem;
    padding: 0.5rem;
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.default-border:hover {
    color: black;
}

.active-border {
    border-bottom: 0.2rem solid green;
    color: black;
}

.itemDetailsLower {
    color: grey;
    padding-left: 1rem;
}

.itemDetailsUpper {
    color: black;
    padding-left: 1rem;
}

.mdButton {
    padding: 0 !important;
    margin: 0 !important;
}

/* md-list-item {
    padding: 0rem !important;
} */

.mdListItem {
    padding: 0rem !important;
}